
<nav class="breadcrumb">
    <a class="btn btn-link" href="/businesses/page/{{ page }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a> /
    <a class="btn disabled">{{ name }}</a>
</nav>

<hr>

<h1>{{ name }}</h1>

<div class="row-fluid">
    <div class="col6">
        <table class="table">
            {{#if website}}
                <tr>
                    <td><strong>Website</strong></td>
                    <td><a href="{{ website }}">{{ website }}</a></td>
                </tr>
            {{/if}}


            {{#if phone}}
                <tr>
                    <td><strong>Phone</strong></td>
                    <td><a href="tel:{{phoneUS phone }}">{{phoneUS phone }}</a></td>
                </tr>
            {{/if}}

            {{#if address}}
                <tr>
                    <td><strong>Address</strong></td>
                    <td>
                        <address>
                            {{ address }}<br>
                            {{#if address2 }}{{ address2 }}<br>{{/if}}
                            {{ city }}, {{ state }} {{ zip }}<br>
                            {{ country }}
                        </address>
                    </td>
                </tr>
            {{/if}}
        </table>
    </div>



    <div class="col6 text-center">
        {{> maps }}
    </div>

</div>
