<a href="https://www.google.com/maps/place/{{encodeURI address }}+{{ city }},+{{encodeURI state }}/">
<img class="maps-graphic" src="http://maps.googleapis.com/maps/api/staticmap?center={{encodeURI address }}+{{ city }},+{{encodeURI state }}&key=AIzaSyDfjOEUQlwMxTZC0nRdErH9mTVTMEo05aE&zoom=13&scale=2&size=400x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff8000%7Clabel:1%7C1386+Lim+Brooks+Lake+betsy,+ia">
</a>
